@mixin respond($breakpoint) {
	@if $breakpoint == lg {
		@media screen and (max-width: $breakpoint-lg) {
			@content;
		}
	}

	@if $breakpoint == md {
		@media screen and (max-width: $breakpoint-md) {
			@content;
		}
	}	

	@if $breakpoint == sm {
		@media screen and (max-width: $breakpoint-sm) {
			@content;
		}
	}	
}

@mixin image-small-adjustment {
	@include respond(sm) {
		position: absolute;
		right: 10px;
		top: 20px;
		width: 20%;
	}
}
