$color-primary: #458FF6;
$color-gradient-1 : #67C3F3;
$color-gradient-2: #5A98F2;
$color-step: #5B9BF3;
$color-read-more: #4089ED;


$color-gray-1: #7D7987;
$color-navigation: #1F1534;

$color-black: #000000;
$color-white: #fff;

$color-article-shadow: rgba(229, 233, 246, 0.4);