*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 1280px) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  color: #000000; }

.heading-primary, .heading-secondary, .heading-tertiary {
  line-height: 5.6rem; }

.heading-primary {
  font-size: 4.8rem; }

.heading-secondary {
  font-size: 3.6rem; }

.heading-tertiary {
  font-size: 2.4rem; }

.paragraph-large, .paragraph-medium, .paragraph-small {
  color: #7D7987;
  font-weight: 300; }

.paragraph-large {
  font-size: 2.1rem; }

.paragraph-medium {
  font-size: 1.8rem;
  line-height: 3rem; }

.paragraph-small {
  font-size: 1.6rem;
  line-height: 2.8rem; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 128rem; }
  @media screen and (max-width: 1280px) {
    .container {
      width: 90%;
      padding: 0 1rem; } }

.header {
  display: grid;
  width: 100%;
  padding: 5.6rem 2rem 0;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8rem;
  margin-bottom: 19rem; }
  .header__logo-box {
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__avatar {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 700; }
  .header__logo-circle {
    border-radius: 50%;
    width: 4.1rem;
    height: 4.1rem;
    background-color: #458FF6;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__logo-text {
    font-size: 2.4rem; }
  .header__header-info {
    margin-top: 18.6rem;
    width: 44.5rem; }
  .header__heading {
    margin-bottom: 2.5rem; }
  .header__paragraph {
    margin-bottom: 4.5rem; }
  .header__dots {
    position: absolute;
    top: 16rem;
    left: 0; }
  @media screen and (max-width: 1280px) {
    .header__illustration {
      width: 80%;
      margin: auto 0; } }

.navigation {
  width: 54.5rem;
  justify-self: end;
  display: flex;
  justify-content: space-between; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 1.8rem;
    color: #1F1534;
    opacity: 50%;
    text-decoration: none;
    transition: .2s ease-in; }
  .navigation__link:active, .navigation__link:hover {
    opacity: 100; }

.footer {
  padding: 10.9rem .5rem;
  display: flex;
  color: #fff;
  position: relative; }
  .footer__background {
    position: absolute;
    left: 0;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    width: 100%;
    margin-top: -43.2rem;
    height: 43.2rem;
    z-index: -1; }
  .footer__logo-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.7rem; }
  .footer__logo-circle {
    position: relative;
    width: 4.1rem;
    height: 4.1rem;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 1.2rem; }
  .footer__logo-text {
    font-size: 2.4rem; }
  .footer__logo-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5B9BF3;
    font-size: 2.6rem; }
  .footer__column:not(:last-child) {
    margin-right: 14.5rem; }
  .footer__paragraph, .footer__link {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 300; }
  .footer__paragraph {
    margin-bottom: 3.1rem; }
  .footer__copyright {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 300; }
  .footer__heading {
    font-size: 2rem;
    line-height: 6rem;
    font-weight: 700;
    margin-bottom: .2rem; }
  .footer__link {
    line-height: 3.8rem; }
  .footer__link:visited, .footer__link:link {
    color: inherit;
    text-decoration: none; }
  .footer__dot-1 {
    position: absolute;
    right: -5rem;
    top: -4rem;
    z-index: -1; }

.btn {
  width: 20rem;
  height: 6rem;
  background-color: #458FF6;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  transition: .2s;
  outline: none;
  border: none;
  border-radius: 5.5rem; }
  .btn--light {
    color: #458FF6;
    background-color: #fff;
    border: 1.4px solid #458FF6; }

.btn:active,
.btn:hover {
  transform: translateY(2px) scale(1.01);
  box-shadow: 0 2px 1px 3px rgba(0, 0, 0, 0.15); }

.service-item {
  width: 35rem;
  height: 35.4rem;
  padding: 5.4rem 4.7rem 4rem 3.7rem;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.5);
  border-radius: 20px;
  background-color: #fff; }
  .service-item__img {
    margin-bottom: 2.2rem; }

.article {
  display: flex;
  flex-direction: column;
  width: 35rem;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  z-index: 5;
  background-color: #fff; }
  .article:not(:last-child) {
    margin-right: 3.4rem; }
  .article__heading, .article__text, .article__link {
    padding: 0 5rem 3.5rem 3.3rem; }
  .article__heading {
    font-size: 2.1rem;
    line-height: 3.2rem;
    margin-bottom: 1.2rem; }
  .article__text {
    margin-bottom: 2.5rem; }
  .article__img {
    width: 100%;
    margin-bottom: 2.4rem;
    border-radius: 2rem 2rem 0 0; }
  .article__link:link, .article__link:visited {
    color: #4089ED;
    text-decoration: none;
    font-size: 1.7rem;
    line-height: 2.8rem;
    font-weight: 600; }
  .article__link-arrow {
    width: 1.4rem;
    margin-left: 7px; }

.arrow-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 26.25%;
  min-width: 33rem; }
  .arrow-nav__left-button, .arrow-nav__right-button {
    border: none;
    background-color: #fff; }
  .arrow-nav__left-button {
    opacity: 0.4;
    transform: rotate(180deg); }
  .arrow-nav__steps {
    width: 10rem;
    display: flex;
    justify-content: space-between; }
  .arrow-nav__step {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #5B9BF3;
    opacity: 30%; }
    .arrow-nav__step--active {
      opacity: 1; }

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 22rem; }
  .services__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-bottom: 8rem; }
  .services__heading {
    margin-bottom: 2.6rem; }
  .services__divider {
    width: 5.6rem;
    height: 2px;
    background-color: #000000;
    margin-bottom: 3.3rem; }
  .services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 87.5%;
    row-gap: 3.3rem;
    column-gap: 3.7rem;
    margin-bottom: 7.2rem; }
  .services__dots {
    position: relative;
    z-index: -1;
    right: -55rem;
    top: -59rem; }

.providers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, min-content);
  column-gap: 13.7rem;
  padding: 0 3px;
  margin-bottom: 22.9rem; }
  .providers__img {
    grid-row: 1/-1;
    grid-column: 1/2; }
  .providers__heading {
    margin-top: 5.7rem;
    margin-bottom: 8.2rem; }
  .providers__divider {
    width: 5.6rem;
    height: 2px;
    background-color: #000000;
    margin-bottom: 3.1rem; }
  .providers__paragraph {
    margin-bottom: 3.7rem; }

.mobile-app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, min-content);
  column-gap: 13rem;
  margin-left: 12rem;
  margin-bottom: 25.1rem; }
  .mobile-app__img {
    grid-row: 1/-1;
    grid-column: 2/3; }
  .mobile-app__heading {
    margin-top: 1rem;
    margin-bottom: 3rem;
    line-height: 4.8rem; }
  .mobile-app__divider {
    width: 5.6rem;
    height: 2px;
    background-color: #000000;
    margin-bottom: 3.1rem; }
  .mobile-app__paragraph {
    margin-bottom: 4rem; }
  .mobile-app__btn {
    display: flex;
    align-items: center;
    padding: 0 4.2rem;
    justify-content: space-between; }

.feedback-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 1.5rem 5.2rem 0;
  position: relative;
  margin-bottom: 21.6rem; }
  .feedback-section__dots {
    position: absolute;
    left: 0;
    top: 54%;
    z-index: -1; }

.feedback {
  padding: 6.4rem 11.8rem 8rem;
  background: linear-gradient(#67C3F3, #5A98F2);
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
  margin-bottom: 4.2rem; }
  .feedback__heading {
    font-size: 3.6rem;
    line-height: 4.8rem;
    margin-bottom: 2.5rem; }
  .feedback__divider {
    width: 5.6rem;
    height: 2px;
    background-color: #fff;
    margin-bottom: 6.6rem; }
  .feedback__review {
    display: flex;
    align-items: center; }
  .feedback__avatar {
    width: 14.1rem;
    height: 14.1rem;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover; }
  .feedback__name-block {
    margin-left: 2.9rem;
    min-width: 18.5rem; }
  .feedback__name {
    font-size: 2.2rem;
    line-height: 4.8rem; }
  .feedback__status {
    opacity: 85%;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 4.8rem; }
  .feedback__comment {
    margin-left: 11rem;
    font-size: 1.9rem;
    font-weight: 400;
    opacity: 90%;
    line-height: 3rem; }
  .feedback__dots {
    position: absolute;
    top: -2rem;
    right: -5rem; }

.latest-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
  position: relative;
  padding: 0 8rem; }
  .latest-articles__heading {
    margin-bottom: 2.5rem; }
  .latest-articles__divider {
    width: 5.6rem;
    height: 2px;
    margin-bottom: 6.6rem;
    background-color: #000000;
    margin-bottom: 8rem; }
  .latest-articles__articles {
    display: flex;
    margin-bottom: 6.9rem; }
  .latest-articles__dots {
    position: absolute;
    left: 3rem;
    top: 12rem;
    z-index: -1; }

.dots {
  position: absolute; }
  .dots__footer-left {
    object-fit: none;
    clip-path: inset(1rem 1rem 0 0);
    bottom: 0.5rem;
    left: 1rem;
    overflow: hidden; }
  .dots__healthcare-right {
    right: 0.5rem;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 30% 100%);
    top: 2783px; }

.tear {
  position: absolute; }
  .tear__articles {
    right: 0;
    top: 4427px; }
  .tear__our-services {
    left: 0;
    top: 965px;
    z-index: -1; }
