.button {
	height: 48px;
	width: 164px;
	background-color: $color-secondary;
	border: none;
	color: white;
	border-radius: 8px;
}

.button--light {
	background-color: white;
	color: $color-secondary;
	border: 1px solid $color-secondary;
}