.wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: 1260px;
	padding-left: 10px;
	padding-right: 10px;
}
@media screen and (max-width: $breakpoint-tablet) {
	.wrapper {
		max-width: calc($breakpoint-tablet - 20%);
	}
}