.service-item {
	width: 35rem;
	height: 35.4rem;
	padding: 5.4rem 4.7rem 4rem 3.7rem;

	box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.5);
	border-radius: 20px;
	z-index: 5;

	&__img {
		margin-bottom: 2.2rem;
	}
}