.footer {
	width: 100%;
	height: 482px;
	padding-top: 70px;
	background-color: $color-footer;

	&__content-block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 77px;

		& a, & p, & span {
			color: $color-gray;
			font-family: $Mulish;
			font-size: 18px;
			font-weight: 300;
			line-height: 28px;
		}

		& h3 {
			color: black;
			font-family: $Mulish;
			font-size: 19px;
			font-weight: 700;
			line-height: 60px;
		}
	}

	&__icon-block {
		max-width: 30%;
	}

	&__icon {
		margin-bottom: 26px;
	}

	&__paragraph {
		margin-bottom: 55px;
	}

}