.header {
	&__nav-block{ 
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 43px;
		margin-bottom: 80px;
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 35px;
	}
	&__link,
	&__link:visited {
		color: $color-light-gray;
	}
	&__link:active,
	&__link:focus,
	&__link:hover {
		color: $color-dark;
	}
}