.header {

	
	margin-bottom: 286px;

	&__nav-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 43px;
		margin-bottom: 80px;
		
		@media screen and (max-width: $breakpoint-mobile) {
			display: flex;
			justify-content: center;
			margin-bottom: 40px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		
		@media screen and (max-width: $breakpoint-mobile) {
			display: flex;
			flex-direction: column;
		}
		
	}
	
	&__list-item {
		@media screen and (max-width: $breakpoint-mobile) {
			margin-bottom: 10px;
		}
		
	}

	&__link,
	&__link:visited {
		color: $color-light-gray;
		font-family: $Inter;
		font-size: 16px;
		margin-right: 35px;

		@media screen and (max-width: $breakpoint-tablet) {
			font-size: 15px;
			margin-right: 10px;
		}
	}
	&__link:active,
	&__link:focus,
	&__link:hover {
		color: $color-dark;
	}
	&__button {
		margin-right: 18px;
		font-size: 17px;

		@media screen and (max-width: $breakpoint-tablet) {
			width: 15vw;
			font-size: 15px;
			margin-right: 10px;
		}
	}

	&__info-block {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		@media screen and (max-width: $breakpoint-mobile) {
		display: none;
		}
	}
}

.info-block {
	// position: relative;
	&__main {
		display: flex;
		flex-direction: column;
		position: relative;
	}
	&__title {
		max-width: 356px;
		font-family: $Playfair;
		font-size: 64px;
		line-height: 80px;
		color: $color-dark;
		margin-bottom: 74px;
		
		@media screen and (max-width: $breakpoint-tablet) {
			font-size: 50px;
			line-height: 70px;
			margin-right: 10px;
		}
		
	}
	&__finder {
		font-size: 22px;
		font-family: $Inter;
		font-weight: 600;
		position: relative;
		margin-bottom: 21px;
	}
	&__divider {
		display: block;
		margin-left: 0;
		width: 32px;
		height: 3px;
		background-color: $color-dark;
		margin-bottom: 48px;
	}

	&__image-block {
		display: flex;
		align-items: center;

		@media screen and (max-width:$breakpoint-tablet) {
			width: 50%;
		}
	}
	&__img {
		max-width: 100%;
	}

	&__circle {
		position: absolute;
		top: 70px;
		left: -80px;
	}
	&__circle-2 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 20px;
	}
}
.info-form {
	&__button {
		width: 180px;
		font-family: $Mulish;
		margin-top: 21px;

		@media screen and (max-width: $breakpoint-tablet) {
			width: 150px;
		}
	}
	&__select {
		@media screen and (max-width: $breakpoint-tablet) {
			width: 180px;
			margin: 0 0 10px 0;
		}

	}

	@media screen and (max-width: $breakpoint-tablet) {
		display: flex;
		flex-direction: column;		
	}
}
