.header {
	&__nav-block{ 
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 43px;
		margin-bottom: 80px;
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 35px;
	}
}