html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Inter sans-serif; }

.button {
  height: 48px;
  width: 164px;
  background-color: #FB8F1D;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer; }

.button--light {
  background-color: white;
  color: #FB8F1D;
  border: 1px solid #FB8F1D; }

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1260px;
  padding-left: 10px;
  padding-right: 10px; }

.select {
  appearance: none;
  width: 220px;
  height: 52px;
  background-color: white;
  border: 0.4px solid #AFB0B9;
  border-radius: 6px;
  margin: 0 30px 30px 0;
  font-size: 15px;
  font-family: Inter sans-serif;
  font-weight: 400;
  padding: 10px 30px 10px 31px; }

.header {
  margin-bottom: 286px; }
  .header__nav-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 43px;
    margin-bottom: 80px; }
  .header__list {
    display: flex;
    align-items: center; }
  .header__link, .header__link:visited {
    color: #B8BECD;
    font-family: Inter sans-serif;
    font-size: 16px;
    margin-right: 35px; }
  .header__link:active, .header__link:focus, .header__link:hover {
    color: #202336; }
  .header__button {
    margin-right: 18px;
    font-size: 17px; }
  .header__info-block {
    display: flex;
    justify-content: space-between; }

.info-block__main {
  display: flex;
  flex-direction: column; }

.info-block__title {
  max-width: 356px;
  font-family: "Playfair Display", serif;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
  margin-bottom: 74px; }

.info-block__finder {
  font-size: 22px;
  font-family: Inter sans-serif;
  font-weight: 600;
  position: relative;
  margin-bottom: 21px; }

.info-block__divider {
  display: block;
  margin-left: 0;
  width: 32px;
  height: 3px;
  background-color: #202336;
  margin-bottom: 48px; }

.info-form__button {
  width: 180px;
  font-family: "Mulish", sans-serif;
  margin-top: 21px; }

.ways {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 292px; }
  .ways__info-block {
    width: 481px; }
  .ways__title {
    margin-bottom: 20px;
    width: 90%; }
  .ways__paragraph {
    color: #7D7987;
    width: 80%;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 38px; }

.destinations {
  margin-bottom: 237px; }
  .destinations__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px; }
  .destinations__image-block {
    display: flex;
    justify-content: center;
    gap: 25px; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

h2 {
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px; }
