html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Inter sans-serif; }

.fw-500 {
  font-weight: 500; }

.button {
  height: 48px;
  width: 164px;
  background-color: #FB8F1D;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer; }

.button--light {
  background-color: white;
  color: #FB8F1D;
  border: 1px solid #FB8F1D; }

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1260px;
  padding-left: 10px;
  padding-right: 10px; }

.select {
  appearance: none;
  width: 220px;
  height: 52px;
  background-color: white;
  border: 0.4px solid #AFB0B9;
  border-radius: 6px;
  margin: 0 30px 30px 0;
  font-size: 15px;
  font-family: Inter sans-serif;
  font-weight: 400;
  padding: 10px 30px 10px 31px; }

.header {
  margin-bottom: 286px; }
  .header__nav-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 43px;
    margin-bottom: 80px; }
  .header__list {
    display: flex;
    align-items: center; }
  .header__link, .header__link:visited {
    color: #B8BECD;
    font-family: Inter sans-serif;
    font-size: 16px;
    margin-right: 35px; }
  .header__link:active, .header__link:focus, .header__link:hover {
    color: #202336; }
  .header__button {
    margin-right: 18px;
    font-size: 17px; }
  .header__info-block {
    display: flex;
    justify-content: space-between; }

.info-block__main {
  display: flex;
  flex-direction: column; }

.info-block__title {
  max-width: 356px;
  font-family: "Playfair Display", serif;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
  margin-bottom: 74px; }

.info-block__finder {
  font-size: 22px;
  font-family: Inter sans-serif;
  font-weight: 600;
  position: relative;
  margin-bottom: 21px; }

.info-block__divider {
  display: block;
  margin-left: 0;
  width: 32px;
  height: 3px;
  background-color: #202336;
  margin-bottom: 48px; }

.info-form__button {
  width: 180px;
  font-family: "Mulish", sans-serif;
  margin-top: 21px; }

.footer {
  width: 100%;
  height: 482px;
  padding-top: 70px;
  background-color: #F9F9FB; }
  .footer__content-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px; }
    .footer__content-block a, .footer__content-block p, .footer__content-block span {
      color: #848484;
      font-family: "Mulish", sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 28px; }
    .footer__content-block h3 {
      color: black;
      font-family: "Mulish", sans-serif;
      font-size: 19px;
      font-weight: 700;
      line-height: 60px; }
  .footer__icon-block {
    max-width: 30%; }
  .footer__divider {
    margin-bottom: 32px; }
  .footer__icons-block {
    display: flex;
    justify-content: center;
    gap: 35px; }
  .footer__icon {
    margin-bottom: 26px; }
  .footer__paragraph {
    margin-bottom: 55px; }

.ways {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 292px; }
  .ways__info-block {
    width: 481px; }
  .ways__title {
    margin-bottom: 20px;
    width: 90%; }
  .ways__paragraph {
    width: 80%;
    color: #7D7987;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 39px;
    font-family: "Mulish", sans-serif; }
  .ways__button {
    font-family: Inter sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-justify: center;
    height: 48px; }

.destinations {
  margin-bottom: 237px; }
  .destinations__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px; }
  .destinations__image-block {
    display: flex;
    justify-content: center;
    gap: 25px; }
  .destinations__viewall {
    color: #FB8F1D;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer; }

.feature-card {
  position: relative; }
  .feature-card__figcaption {
    position: absolute;
    background-color: white;
    bottom: 0px;
    height: 56px;
    width: 120px;
    padding-top: 11px;
    color: #042521;
    font-size: 17px;
    border-radius: 0px 6px 0px 0px;
    font-weight: 600; }
    .feature-card__figcaption--light {
      font-weight: 500;
      color: #80918E; }

.guides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 248px; }
  .guides__info-block {
    width: 450px; }
  .guides__title {
    margin-bottom: 20px; }
  .guides__paragraph {
    color: #7D7987;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 39px;
    font-family: "Mulish", sans-serif; }
  .guides__button {
    font-family: Inter sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-justify: center;
    height: 48px; }

.testimonials {
  margin-bottom: 270px; }
  .testimonials__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .testimonials__title {
    margin-bottom: 60px; }
  .testimonials__star-block {
    margin-block: 30px; }
  .testimonials__paragraph {
    font-family: "Mulish", sans-serif;
    width: 450px;
    color: black;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 40px; }
  .testimonials__name {
    font-family: Inter sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: black;
    line-height: 48px; }
  .testimonials__position {
    font-family: Inter sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.95);
    font-weight: 400; }
  .testimonials__img-block {
    position: relative; }
  .testimonials__arrow-block {
    border-radius: 16px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 30px;
    position: absolute;
    width: 132px;
    height: 60px;
    background-color: white;
    right: 0;
    bottom: 0; }
  .testimonials__arrow {
    cursor: pointer; }
    .testimonials__arrow--left {
      transform: rotate(180deg);
      background: red;
      mask: url(../../assets/svg/arrow-right.svg); }

.stories {
  margin-bottom: 271px; }
  .stories__title-block {
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .stories__view-all {
    color: #FB8F1D;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer; }
  .stories__content-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap; }
  .stories__img-block {
    max-height: 446px;
    max-width: 266px; }
  .stories__img {
    width: 261px;
    height: 233px;
    object-fit: cover;
    border-radius: 8px 8px 0 0; }
  .stories__img-title {
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;
    color: black;
    margin-bottom: 13px; }
  .stories__img-paragraph {
    color: #7D7987;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 23px; }
  .stories__read-more {
    font-size: 15px;
    color: #FB8F1D;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

h2 {
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px; }
