.ways {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 292px;

	@media screen and (max-width:$breakpoint-mobile) {
		flex-direction: column;
	}

	&__info-block {
		width: 481px;
		position: relative;

		@media screen and (max-width:$breakpoint-mobile) {
			display: flex;
			flex-direction: column;
			width: 100%;
			align-items: center;
		}
	}
	&__title {
		margin-bottom: 20px;
		width: 90%;

		@media screen and (max-width:$breakpoint-mobile) {
			text-align: center;
		}
	}

	&__paragraph {
		width: 80%;
		@include paragraph;
	}
	&__button {
		@include button-text;
		height: 48px;
	}
	&__circle {
		position: absolute;
		width: 20px;
		left: 300px;
		bottom: 40px;
	}
	&__img {
		@media screen and (max-width: $breakpoint-tablet) {
			width: 40vw;
			padding-right: 20px;
		}
		@media screen and (max-width: $breakpoint-tablet) {
			width: 80vw;
			margin-bottom: 30px;
		}
	}
}

.destinations {
	position: relative;
	margin-bottom: 237px;
	&__title-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 51px;
	}
	&__image-block {
		display: flex;
		justify-content: center;
		gap: 25px;
		flex-wrap: wrap;
	}
	&__viewall {
		@include view-all;
	}
	&__circle,
	&__circle-2 {
		position: absolute;
		width: 20px;
	}
	&__circle {
		top: -20px;
		right: 280px;
	}
	&__circle-2 {
		bottom: -45px;
		right: 52%;
	}
}
.feature-card {
	position: relative;

	&__figcaption {
		position: absolute;
		background-color: white;
		bottom: 0px;
		height: 56px;
		width: 120px;
		padding-top: 11px;
		color: $color-dark-2;
		font-size: 17px;
		border-radius: 0px 6px 0px 0px;
		font-weight: 600;

		&--light {
			font-weight: 500;
			color: $color-light-gray-2;
		}
	}
}

.guides {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 248px;

	@media screen and (max-width: $breakpoint-mobile) {
		flex-direction: column;
		margin-bottom: 120px;
	}

	&__info-block {
		width: 450px;
		position: relative;

		@media screen and (max-width: $breakpoint-mobile) {
			width: 80vw;
			text-align: center;
		}
	}
	&__title {
		margin-bottom: 20px;
	}
	&__paragraph {
		@include paragraph;
	}
	&__button {
		@include button-text;
		height: 48px;
	}
	&__circle {
		position: absolute;
		top: -87px;
		left: 38px;
		width: 20px;
	}
	&__img {
		@media screen and (max-width: $breakpoint-tablet) {
			width: 40vw;
			padding-left: 20px;
		}
		@media screen and (max-width: $breakpoint-mobile) {
			order: -1;
			width: 80vw;
		}
	}
}

.testimonials {
	margin-bottom: 270px;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__title {
		margin-bottom: 60px;
	}
	&__star-block {
		margin-block: 30px;
	}
	&__paragraph {
		font-family: $Mulish;
		width: 450px;
		color: black;
		font-size: 24px;
		font-weight: 400;
		line-height: 36px;
		margin-bottom: 40px;

		@media screen and (max-width: $breakpoint-tablet) {
			width: 40vw;
			font-size: 20px;
			line-height: 32px;
		}
	}
	&__name {
		font-family: $Inter;
		font-size: 22px;
		font-weight: 700;
		color: black;
		line-height: 48px;
	}
	&__position {
		font-family: $Inter;
		font-size: 18px;
		color: rgba(0, 0, 0, 0.95);
		font-weight: 400;
	}

	&__img-block {
		position: relative;
	}

	&__img {
		@media screen and (max-width: $breakpoint-tablet) {
			width: 40vw;
		}
	}

	&__arrow-block {
		border-radius: 16px 0px 0px 0px;
		display: flex;
		justify-content: space-between;
		padding: 20px 0 0 30px;
		position: absolute;
		width: 132px;
		height: 60px;
		background-color: white;
		right: 0;
		bottom: 0;
	}
	&__arrow {
		cursor: pointer;
		&--left {
			transform: rotate(180deg);
		}
	}
}

.stories {
	margin-bottom: 271px;

	&__title-block {
		margin-bottom: 54px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__view-all {
		@include view-all;
	}
	&__content-block {
		display: flex;
		justify-content: space-around;
		flex-wrap: nowrap;

		@media screen and (max-width:$breakpoint-tablet) {
			flex-wrap: wrap;
		}
	}
	&__img-block {
		max-height: 446px;
		max-width: 266px;
	}

	&__img {
		width: 261px;
		height: 233px;
		object-fit: cover;
		border-radius: 8px 8px 0 0;
	}
	&__img-title {
		font-size: 19px;
		font-weight: 700;
		line-height: 30px;
		color: black;
		margin-bottom: 13px;
	}

	&__img-paragraph {
		color: $color-dark-gray;
		font-size: 15px;
		font-weight: 400;
		line-height: 26px;
		margin-bottom: 23px;
	}
	&__read-more {
		font-size: 15px;
		color: $color-secondary;
		font-weight: 600;
		line-height: 28px;
		cursor: pointer;
	}
}
