.ways {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 292px;

	&__info-block {
		width: 481px;
	}
	&__title {
		margin-bottom: 20px;
		width: 90%;
	}

	&__paragraph {
		color: $color-dark-gray;
		width: 80%;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 38px;
	}
}

.destinations {
	margin-bottom: 237px;
	&__title-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 51px;
	}
	&__image-block {
		display: flex;
		justify-content: center;
		gap: 25px;
	}
	&__viewall {
		color: $color-secondary;
		font-size: 17px;
		font-weight: 600;
		cursor: pointer;
	}
}
.feature-card {
	position: relative;

	&__figcaption {
		position: absolute;
		background-color: white;
		bottom: 0px;
		height: 56px;
		width: 120px;
		padding-top: 11px;
		color: $color-dark-2;
		font-size: 17px;
		border-radius: 0px 6px 0px 0px;
		font-weight: 600;

		&--light {
			font-weight: 500;
			color: $color-light-gray-2;
		}
	}
}

.guides {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__info-block {
		width: 450px;
	}
}