@mixin paragraph {
	color: $color-dark-gray;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 39px;
	font-family: $Mulish;
}

@mixin button-text {
	font-family: $Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	text-justify: center;
}

@mixin view-all {
	color: $color-secondary;
	font-size: 17px;
	font-weight: 600;
	cursor: pointer;
}