.navigation {
	width: 54.5rem;
	justify-self: end;
	display: flex;
	justify-content: space-between;

	@include respond(md) {
		width: 100%;
		grid-column: 2/-1;
	}
	
	@include respond(sm) {
		display: none;
	}

	&__item {

	}
	&__link:link,
	&__link:visited {
		font-size: 1.8rem;
		color: $color-navigation;
		opacity: 50%;
		text-decoration: none;
		transition: .2s ease-in;
	}
	&__link:active,
	&__link:hover {
		opacity: 100;
	}
}

.navigation--sm {
	display: flex;
	// flex: 200px 1 1;
	width: 0;
	height: 0;
	flex-direction: column;
	transition: 2s ease-in;

	&__item {
		padding: 10px;
	}

	&__link:link,
	&__link:visited {
		font-size: 1.8rem;
		color: $color-navigation;
		opacity: 50%;
		text-decoration: none;
		transition: .2s ease-in;
	}
}