@import './base/reset';
@import './base/typography';

@import './abstract/variables';
@import './abstract/functions';
@import './abstract/mixins';

@import './components/buttons';
@import './components/wrapper';
@import './components/select';

@import './layout/header';
@import './layout/footer';

@import './pages/home';


a {
	text-decoration: none;
}
* {
	box-sizing: border-box;
}

h2 {
	font-family: $Playfair;
	color: black;
	font-size: 36px;
	font-weight: 700;
	line-height: 50px;
	@media screen and (max-width:$breakpoint-tablet) {
		font-size: 28px;
		line-height: 40px;
	}
}