body {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	color: $color-black;
}

.heading-primary {
	font-size: 4.8rem;
	line-height: 5.6rem;
}


.paragraph-large {
	color: $color-gray-1;
	font-size: 2.1rem;
}